<ion-header>
  <ion-toolbar>
    <ion-icon name="person-sharp" *ngIf="!isConnected()" (click)="login()"></ion-icon>
    <ion-icon *ngIf="isConnected()" name="power" (click)="logout()"></ion-icon>
    <ion-icon name="build" *ngIf="isConnected()" (click)="changePanel()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="catalog" #catalogPage>
    <ion-grid>
      <ion-row *ngFor="let category of catalog">
        <ion-row class="category" *ngIf="category.products.length !== 0">
          <ion-col (click)="adminMode ? presentUpdateCategoryModal(category) : null">
            <span class="category-name">{{category.name}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [appPress]="adminMode ? null : product" class="product-container" *ngFor="let product of category.products" (click)="adminMode ? presentUpdateProductModal(product) : addToCart(product)">
            <div class="product" [ngStyle]="{'background-image': 'url(' + baseUrl + product.imageURL + ')'}">
              <div class="overlay"></div>
              <div class="product-banner">
                  <span div class="product-name">{{product.name}}</span>
                  <br>
                  <span class="product-desc">{{product.description}}</span>
                  <span class="product-price">{{product.price}}€</span>
              </div>
            </div>
            <div class="circle" *ngIf="adminMode ? true : existInCart(product)"
              [ngStyle]="{'background-color': adminMode ? product.stock < 20 ? 'red' : product.stock < 35 && product.stock >= 20 ? 'orange' : 'green' : '#3880ff'}">
              <p>{{adminMode ? product.stock : getQuantity()}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab *ngIf="adminMode" (click)="presentProductAddModal()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
