ion-toolbar {
  > ion-button {
    position: absolute;
    height: 40px;
    left: calc(50% - (152px / 2));
    top: 0;
    margin: 2px;
  }
}

#catalog {
  ion-grid {
    padding: 5%;

    ion-row {
      display: flex;
      width: 100%;
      min-width: 320px;
      flex-wrap: wrap;

      > .category {
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
      }

      > .product-container {
        position: relative;
        width: 24%;
        min-width: 24%;
        max-width: 24%;
        padding-top: 24%;
        margin: 0 0.5%;

        div {
          width: 100%;
        }

        > .product {
          display: flex;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          &:active {
            @keyframes overlay {
              0% {
                transform: scale(0);
              }
              25% {
                transform: scale(1);
              }
              100% {
                left: 0;
                top: 0;
                transform: scale(1.5);
              }
            }
            > .overlay {
              animation-name: overlay;
              animation-duration: 0.8s;
              animation-delay: -0.1s;
              animation-timing-function: ease-out;
            }
          }
          > .overlay {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.3);
            transform: scale(0);
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }

          > .product-banner {
            align-self: flex-end;
            width: 100%;
            padding: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            overflow: hidden;
            > .topBanner {
              height: 1em;
              position: relative;
              display: flex;
              align-items: center;
              > .product-name {
                position: absolute;
                font-weight: bold;
                white-space: nowrap;
              }
            }
            > .subBanner {
              display: flex;
              justify-content: space-between;
              > .product-desc {
                width: 70%;
                overflow: hidden;
              }
              > .product-desc,
              > .product-price {
                font-size: 0.7em;
                white-space: nowrap;
              }
            }
          }
        }
        > .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -5px;
          right: -5px;
          width: 25px;
          height: 25px;
          background-color: #3880ff;
          border-radius: 50%;
          z-index: 10;
          > p {
            font-size: 5vw;
            color: white;
          }
        }
      }
    }
  }
}

ion-modal {
  ion-icon {
    font-size: 6vw;
  }
}
