<ion-header>
  <ion-toolbar>
    <ion-icon (click)="dismiss()" name="arrow-back-sharp"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-select id="choiceSelect" #choiceSelect interface="popover" value="Produit">
    <ion-select-option *ngFor="let choice of choices" value="{{choice}}">{{choice}}</ion-select-option>
  </ion-select>

  <div id="multiple-add">
    <div class="btn" [ngClass]="[multipleAddStyle]" (click)="changeStyle()"></div>
    <ion-label>Ajout multiple</ion-label>
  </div>

  <app-product-form [isButtonChecked]="multipleAddStyle === 'checked' ? true : false" *ngIf="choiceSelect.value === 'Produit'"></app-product-form>

  <app-category-form [isButtonChecked]="multipleAddStyle === 'checked' ? true : false" *ngIf="choiceSelect.value === 'Catégorie'"></app-category-form>

</ion-content>
