<ion-header>
  <ion-toolbar>
    <ion-icon (click)="dismiss()" name="arrow-back-sharp"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-select id="choiceSelect" #choiceSelect interface="popover" value="Produit">
    <ion-select-option *ngFor="let choice of choices" value="{{choice}}">{{choice}}</ion-select-option>
  </ion-select>

  <app-product-form *ngIf="choiceSelect.value === 'Produit'"></app-product-form>

  <app-category-form *ngIf="choiceSelect.value === 'Catégorie'"></app-category-form>

</ion-content>
