<ion-header>
  <ion-toolbar>
    <div id="toolbar">
      <div id="toolbar-icons">
        <ion-icon name="arrow-back" routerLink=""></ion-icon>
      </div>
      <div id="order-list">
        <div class="order" *ngFor="let order of orders; let i = index" (click)="selectedOrder = i + 1"
        [ngStyle]="{'background-color': selectedOrder === i + 1 ? '#3880ff' : 'white', 'color': selectedOrder === i + 1 ? 'white' : 'black'}">
          <p>{{i + 1}}</p>
        </div>
        <div class="order" (click)="addOrder()">
          <p>+</p>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cart" id="cart">
    <div class="product-container" *ngFor="let product of cart">
      <img src="{{baseUrl + product.product.imageURL}}"
        alt="Image de {{product.product.name}} {{product.product.description}}">
      <div class="infos">
        <span class="name">{{product.product.name}}</span>
        <span class="quantity">x{{product.quantity}}</span>
        <span class="description">{{product.product.description}}</span>
        <div class="options">
          <ion-icon name="trash" (click)="removeFromCart(product.order.id, product.product.id)"></ion-icon>
          <ion-icon name="create-outline" (click)="presentAlert(product)"></ion-icon>
      </div>
      </div>
      <div class="price">
        <span>{{product.price}}€</span>
      </div>
    </div>
  </div>
  <div class="bar-shadow"></div>
  <div id="total">
    <p>Total : {{totalPrice}}€</p>
  </div>
  <div class="bar-shadow"></div>
  <div id="tools">
    <div id="cash-group">
      <div class="cash-pill" (click)="amount.value = 5">
        <p>€ 5</p>
      </div>
      <div class="cash-pill" (click)="amount.value = 10">
        <p>€ 10</p>
      </div>
      <div class="cash-pill" (click)="amount.value = 20">
        <p>€ 20</p>
      </div>
      <div class="cash-pill" (click)="amount.value = 50">
        <p>€ 50</p>
      </div>
      <div class="cash-pill" (click)="amount.value = 100">
        <p>€ 100</p>
      </div>
    </div>
    <div id="amount-group">
      <form [formGroup]="amountFormGroup">
        <ion-input formControlName="amount" #amount type="number" placeholder="Montant"></ion-input>
      </form>
      <p>A rendre : {{amountPayback}}€</p>
    </div>
  </div>
  <div id="payment-container">
    <ion-button id="payment-button" (click)="confirmPayment()">Confirmer paiement</ion-button>
  </div>
</ion-content>
