#cart {
  padding: 10%;
  > .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    > img {
      width: 20%;
    }
    > .infos {
      width: 70%;
      display: grid;
      align-items: center;
      grid-template-columns: 0.6fr 0.3fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "name quantity"
        "description options";
      > .name {
        font-size: 5vw;
      }
      > .description {
        font-size: 4vw;
      }
      > .options {
        font-size: 5vw;
        > ion-icon:first-child {
          color: #AB0000;
        }
        > ion-icon:last-child {
          color: blue;
        }
      }
    }
    > .price {
      width: 10%;
      text-align: end;
    }
  }
}

#total {
  padding: 1% 10%;
  > p {
    text-align: end;
  }
}

#tools {
  > #options {
    padding: 5% 10%;
  }
}
