#toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > #toolbar-icons {
    position: absolute;
    left: 0;
  }
  > #order-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    > .order {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 2px solid #3880ff;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
      &:active {
        background-color: #3880ff;
        color: white;
      }
      > p {
        font-size: 6vw;
      }
    }
  }
}

#cart {
  padding: 0 10%;
  height: 68%;
  overflow-y: scroll;
  > .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    > img {
      width: 20%;
    }
    > .infos {
      width: 70%;
      display: grid;
      align-items: center;
      grid-template-columns: 0.6fr 0.3fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "name quantity"
        "description options";
      > .name {
        font-size: 5vw;
      }
      > .description {
        font-size: 4vw;
      }
      > .options {
        font-size: 5vw;
        > ion-icon:first-child {
          color: #AB0000;
        }
        > ion-icon:last-child {
          color: blue;
        }
      }
    }
    > .price {
      width: 10%;
      text-align: end;
    }
  }
}

#total {
  padding: 1% 10%;
  > p {
    text-align: end;
  }
}

#tools {
  #cash-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    > .cash-pill {
      width: 45px;
      height: 22px;
      border-radius: 11px;
      background-color: #1e1e1e;
      > p {
        margin: 0.6vw 0 0 0;
        text-align: center;
        color: white;
        font-size: 4vw;
      }
    }
  }
  #amount-group {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    > form {
      width: 30% !important;
      > ion-input {
        width: 100% !important;
      }
    }
    > p {
      width: 70%;
      text-align: end;
    }
  }
  > #options {
    padding: 5% 10%;
  }
  > #payment-button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

#payment-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
