<ion-header>
  <ion-toolbar>
    <ion-icon (click)="dismiss()" name="arrow-back-sharp"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-select id="choiceSelect" #choiceSelect interface="popover" value="Produit">
    <ion-select-option *ngFor="let choice of choices" value="{{choice}}">{{choice}}</ion-select-option>
  </ion-select>

  <form *ngIf="choiceSelect.value === 'Produit'" [formGroup]="productFormGroup" (ngSubmit)="addProduct()">

    <ion-input type="text" formControlName="name" placeholder="Nom du produit"></ion-input>

    <ion-select formControlName="categoryId" interface="popover" placeholder="Catégorie">
      <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}
      </ion-select-option>
    </ion-select>

    <ion-input type="text" formControlName="description" placeholder="Description"></ion-input>

    <ion-input type="number" formControlName="price" placeholder="Prix"></ion-input>

    <ion-input type="number" formControlName="stock" placeholder="Stock"></ion-input>

    <ion-input type="file" formControlName="imageURL" placeholder="Photo" (change)="loadFile($event)" placeholder="Image"></ion-input>

    <ion-button type="submit">Ajouter le produit</ion-button>
  </form>

  <form *ngIf="choiceSelect.value === 'Catégorie'" [formGroup]="categoryFormGroup" (ngSubmit)="addCategory()">

    <ion-input type="text" formControlName="name" placeholder="Nom de la catégorie"></ion-input>

    <ion-button type="submit">Ajouter la catégorie</ion-button>
  </form>

</ion-content>
